header {
    text-align: center;
    width: 480px;
    height: 75px;
    background-color: aqua;
}

section {
    text-align: center;
    width: 480px;
    height: 150px;
    background-color: rgba(173, 44, 233, 0.178);
}

div {
    text-align: center;
    width: 480px;
    height: 125px;
    background-color: rgba(73, 7, 20, 0.267);
}

#first {
    background-color: cornflowerblue;
}

article {
    display: inline-block;
}

article ul li {
    width: 240px;
    height: 250px;
}

footer {
    width: 480px;
    height: 80px;
    text-align: center;
    background-color: darkviolet;
    margin-top: -4px;
}

ul {
    padding: 0%;
}

article {
    margin-top: -16px;
}

li {
    float: left;
}

@media( min-width: 768px) {
    header {
        width: 960px;
        height: 100px;
        background-color: rgba(228, 206, 15, 0.37);
    }
    section {
        width: 200px;
        height: 600px;
        float: left;
        background-color: rgba(245, 103, 8, 0.37);
    }
    div {
        float: left;
        position: relative;
        background-color: rgba(216, 25, 25, 0.37);
    }
    footer {
        width: 760px;
        height: 150px;
        background-color: rgba(15, 235, 81, 0.747);
        margin-left: 200px;
    }
    #fisrt {
        width: 380px;
        height: 200px;
        background-color: rgba(15, 56, 236, 0.37);
    }
    div {
        width: 380px;
        height: 200px;
        background-color: rgba(118, 5, 163, 0.37);
    }
    article ul li {
        width: 190px;
        height: 250px;
    }
    #firstli {
        background-color: rgb(65, 7, 7);
    }
    #secondli {
        background-color: rgb(133, 124, 9);
    }
    #thirdli {
        background-color: rgb(233, 78, 27);
    }
    #forthli {
        background-color: rgb(16, 238, 16);
    }
}